.topHeader {
  color: white;
  padding: 12px 0px;
}
.topHeader p {
  margin-bottom: 0px;
  font-size: 12px;
}
.topHeader-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.header .navbar {
  padding: 13px 0px;
}
.header .navbar-nav {
  gap: 24px;
}
.header .navbar-nav .nav-item .nav-link {
  font-weight: 500;
  color: var(--text-light);
  padding: 0px !important;
}
.header .navbar-light .navbar-nav .active > .nav-link,
.header .navbar-light .navbar-nav .nav-link.active,
.header .navbar-light .navbar-nav .nav-link.show,
.header .navbar-light .navbar-nav .show > .nav-link {
  color: var(--primary-500);
  font-weight: 600;
}

.heading-badminton {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-bottom: 32px;
}
.heading-badminton h2 {
  text-align: center;
}
.heading-badminton .subHeading-badminton {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.heading-badminton .subHeading-badminton .h5 {
  color: #f74f1e;
}

.marquee-wrapper {
  width: 100%;
  overflow-x: hidden;
}
.marquee-wrapper .marquee {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  max-width: 100%;
  white-space: nowrap;
}
.marquee-wrapper .marquee .marquee-notice {
  background-color: #dd1d3e;
  padding: 8px 16px;
  color: #f7fafc;
  font-size: 16px;
  font-weight: 600;
  white-space: nowrap;
}
.marquee-wrapper .marquee .marquee-content {
  width: 100%;
}
.marquee-wrapper .marquee .marquee-content marquee {
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: var(--text-dark);
  line-height: 1.2;
  padding: 8px 0px;
}

@media (max-width: 768px) {
  .marquee-wrapper .marquee .marquee-notice {
    font-size: 14px;
    padding: 8px 12px;
  }
  .marquee-wrapper .marquee .marquee-content marquee {
    font-size: 12px;
  }
}
@media (max-width: 480px) {
  .marquee-wrapper .marquee {
    align-items: flex-start;
  }
  .marquee-wrapper .marquee .marquee-notice {
    font-size: 12px;
    padding: 4px 8px;
  }
  .marquee-wrapper .marquee .marquee-content marquee {
    font-size: 10px;
  }
}
.footer {
  padding: 80px 0px;
  background-color: #f0f8ff;
}
.footer-title {
  color: var(--primary-500);
  font-weight: 700;
}
.footer-lower {
  padding: 17px 0px;
  border-top: 1px solid var(--grey-lighter);
  background-color: #f0f8ff;
}
.footer-lower_img {
  height: 66px;
}
.footer-lower_img img {
  height: 100%;
}

.overlay {
  position: relative;
}
.overlay::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.25);
}

.overlay-blue {
  position: relative;
}
.overlay-blue::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(0deg, rgba(4, 55, 98, 0.7) 0%, rgba(4, 55, 98, 0.7) 100%);
}

.bannerWrapper {
  text-align: center;
}
.bannerWrapper__text {
  padding: 16px 0px;
  width: 100%;
  margin: 0px auto;
}
@media (min-width: 992px) {
  .bannerWrapper__text {
    width: 43%;
    margin: 0px auto;
  }
}
.bannerWrapper__breadcrumb {
  color: var(--grey-500);
}
.bannerWrapper__breadcrumb a {
  color: var(--grey-500);
}
.bannerWrapper__breadcrumb a:hover {
  color: var(--primary-500);
}

.content {
  position: relative;
}
.content__title {
  font-family: "Poppins";
}
.content p {
  font-weight: 400;
  line-height: 32px;
}
.content__img {
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.footer__logo {
  width: 124px;
  height: 88px;
}
.footer__a {
  display: flex;
  gap: 32px;
}
.footer__a-items {
  color: var(--Neutral-Gray-300, #cbd5e0);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
.footer__subscribe p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.footer__subscribe input {
  border-radius: 8px;
  padding: 12px 80px 12px 24px;
  border: 1px solid var(--Neutral-Gray-300, #cbd5e0);
  background: var(--Neutral-Gray-100, #edf2f7);
}
.footer__subscribe button {
  border-radius: 4px;
  padding: 12px 40px;
  color: #fff;
  margin-top: 20px;
}
@media all and (min-width: 768px) {
  .footer__subscribe button {
    margin-top: 0px;
  }
}
.footer__hr {
  width: 100%;
  height: 1px;
  margin-top: 0px;
  background: var(--grey-700, #2d3748);
}
@media all and (min-width: 780px) {
  .footer__hr {
    margin-top: 64px;
  }
}
.footer__items {
  display: flex;
  gap: 24px;
}
.footer__items-a {
  color: #cbd5e0;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}/*# sourceMappingURL=component.css.map */