:root {
  --neutral-white: #fcfcfc;
  --light-blue: #f0f8ff;
}

.text-neutral-white {
  color: var(--neutral-white);
}

.bg-light-blue {
  background-color: var(--light-blue);
}

.mb-60 {
  margin-bottom: 60px;
}

.fs-48 {
  font-size: clamp(38px, 2.375rem + (1vw - 3.2px) * 0.625, 48px);
  min-height: 0vw;
}

.para-main {
  line-height: 30px;
}

a {
  color: unset;
}

.img-aspect {
  height: auto;
  width: 100%;
}

.btn-primary {
  background: var(--primary-500);
  border-radius: 16px;
  padding: 21px 12px;
  color: var(--neutral-white);
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
}

.sub-banner {
  position: relative;
  overflow: hidden;
  background: none;
}
.sub-banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(0, 18, 33, 0.46) 0%, rgba(0, 18, 33, 0.46) 100%), url(/assets/image/subbanner.png) lightgray -0.496px -0.603px/99.948% 108.84% no-repeat;
  filter: blur(2px);
  z-index: 1;
}
.sub-banner .content {
  position: relative;
  z-index: 2;
  padding: 90px 0;
}
.sub-banner .content .separator {
  height: 6px;
  width: 6px;
  background-color: #f28f72;
}

/* contact us */
.contact-section .para {
  line-height: 30px;
}
.contact-section form .form-label {
  margin-bottom: 12px;
  color: var(--grey-darkest);
  font-weight: 500;
  font-size: 14px;
}
.contact-section form .form-control {
  border-radius: 8px;
  background: var(--primary-50);
  padding: 21px 12px;
  border: 0;
}
.contact-section form .form-control::-moz-placeholder {
  color: var(--grey-normal);
  font-weight: 500;
  font-size: 14px;
}
.contact-section form .form-control::placeholder {
  color: var(--grey-normal);
  font-weight: 500;
  font-size: 14px;
}

.who-we-are img {
  border-radius: 24px;
  aspect-ratio: 1/1;
}

.president-msg img {
  border-radius: 24px;
  aspect-ratio: 211/183;
}
.president-msg .bullet {
  border-radius: 14px;
  background: var(--primary-500);
  height: 6px;
  width: 6px;
}

.mission-vision .card {
  background: var(--white);
  border: none;
  padding: 52px 32px;
  border-radius: 20px;
}
@media all and (max-width: 1200px) {
  .mission-vision .card {
    padding: 24px;
  }
}

.global-tabs .nav {
  border-radius: 60px;
  background: #f2f6fa;
  padding: 10px 24px;
  margin-bottom: 32px;
}
.global-tabs .nav .nav-link {
  background: 0 0;
  border: 0;
  border-radius: 0;
  color: var(--grey-dark);
  padding: 10px 16px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 110px;
}
.global-tabs .nav .nav-link.active {
  background: var(--primary-500);
  color: var(--white);
}
.global-tabs table {
  border-collapse: separate;
  border-spacing: 0 12px;
}
.global-tabs table > :not(caption) > * > * {
  border-bottom-width: 1px !important;
  border-top-width: 1px !important;
  padding: 12px !important;
}
.global-tabs table .profile-img {
  border-radius: 110px;
}
@media all and (max-width: 1024px) {
  .global-tabs table .name-row {
    width: 150px;
  }
}
.global-tabs table thead {
  border-radius: 8px;
  background: var(--primary-500);
  border-style: unset !important;
}
.global-tabs table thead th {
  padding: 12px 0;
  font-size: 14px;
  font-size: 600;
  color: var(--neutral-white);
  vertical-align: middle;
}
.global-tabs table thead th:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding-left: 24px;
}
.global-tabs table thead th:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-right: 24px;
}
.global-tabs table tr {
  border-width: 1px 0;
}
.global-tabs table tr td {
  vertical-align: middle;
}
.global-tabs table tr td:first-child {
  border-left-width: 1px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  padding-right: 12px;
}
.global-tabs table tr td:last-child {
  border-right-width: 1px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.committee-section .card {
  padding: 20px 24px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 0px 2px 0px rgba(145, 158, 171, 0.2), 0px 12px 24px -4px rgba(145, 158, 171, 0.12);
  border: 0;
}
.committee-section .card img {
  border-radius: 100%;
}

.download .wrapper {
  border-radius: 16px;
  padding: 60px;
  background: #f7fbff;
}
@media all and (max-width: 768px) {
  .download .wrapper {
    padding: 32px;
  }
}
.download .wrapper .table > :not(caption) > * > * {
  padding: 20px 16px;
}
.download .wrapper .table tr:last-child {
  border-bottom: none;
  border-color: #f7fbff;
}

.pagination {
  gap: 11px;
}
.pagination .page-link {
  padding: 8px 12px;
  border-radius: 8px;
  border: 1px solid #ebebeb;
  background-color: none;
  font-size: 14px;
  font-weight: 500;
  color: var(--grey-darkest);
}
.pagination .page-item.active .page-link {
  background: #f74f1e !important;
  color: var(--white);
  border: 1px solid #f74f1e;
}

.notice-modal .btn-close {
  width: 20px;
  height: 20px;
  background: url(/assets/icon/cross.svg);
  background-repeat: no-repeat;
  border: none;
  opacity: 1;
  padding: 0;
}
.notice-modal .modal-header {
  padding: 16px 24px;
}
.notice-modal .modal-content {
  border-radius: 16px;
  border: 7px solid #ebebeb;
  background: #fff;
  box-shadow: 0px 0px 28px 0px rgba(0, 0, 0, 0.23);
}
.notice-modal .modal-body {
  padding: 24px 24px 26px 24px;
}
.notice-modal .modal-body img {
  aspect-ratio: 487/690;
  border-radius: 8px;
}/*# sourceMappingURL=style-two.css.map */