.banner-area .single-banner-slide {
  height: 72vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  z-index: 2;
}
.banner-area .single-banner-slide .banner-text {
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.16);
  -webkit-backdrop-filter: blur(9px);
          backdrop-filter: blur(9px);
  padding: 16px 32px;
  width: -moz-fit-content;
  width: fit-content;
  position: absolute;
  bottom: 14px;
  display: flex;
  gap: 8px;
}
.banner-area .single-banner-slide span {
  color: #fff;
  font-weight: 600;
}
.banner-area .single-banner-slide h1 {
  color: #fff;
  margin: 0;
  display: flex;
}
.banner-area .single-banner-slide img {
  height: 35px;
  width: 35px !important;
}
.banner-area .single-banner-slide::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: -1;
  width: 100%;
  height: 100%;
}
.banner-area .single-banner-slide .owl-dots {
  display: none !important;
}
.banner-area .owl-nav {
  position: relative !important;
}
.banner-area .owl-carousel .owl-nav button.owl-next {
  position: absolute;
  bottom: 30px;
  right: 10%;
  padding: 10px !important;
  background-color: rgba(255, 255, 255, 0.16);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: x-large;
}
@media all and (max-width: 920px) {
  .banner-area .owl-carousel .owl-nav button.owl-next {
    display: none;
  }
}
.banner-area .owl-carousel .owl-nav button.owl-prev,
.banner-area .owl-carousel button.owl-dot {
  position: absolute;
  bottom: 30px;
  left: 10%;
  padding: 10px !important;
  background-color: rgba(255, 255, 255, 0.16);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: x-large;
}
@media all and (max-width: 920px) {
  .banner-area .owl-carousel .owl-nav button.owl-prev,
  .banner-area .owl-carousel button.owl-dot {
    display: none;
  }
}
.banner-area .owl-prev span {
  padding-bottom: 2px;
  padding-right: 2px;
}
.banner-area .owl-next span {
  padding-bottom: 2px;
  padding-right: 2px;
}

.performer {
  height: 100%;
  width: 100%;
  z-index: 1;
  background: url("/assets/image/bgImage.jpg") no-repeat center/cover;
}
.performer .nav {
  display: flex !important;
  justify-content: center !important;
  gap: 12px;
}
.performer .nav-pills .nav-link.active,
.performer .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #f74f1e;
}
.performer .nav-link {
  border-radius: 8px;
  background-color: #fff;
  color: var(--grey-dark);
  font-weight: 500;
}
.performer-card img {
  height: 280px;
  border-radius: 16px;
}
.performer-card_info {
  margin-top: 20px;
  gap: 12px;
}
.performer-card_info img {
  height: 16px;
  width: 16px !important;
}

.news {
  background-color: #f0f8ff;
}
.news-card {
  border-radius: 9px;
  background: #fff;
  box-shadow: 0px 13px 39px 0px rgba(0, 0, 0, 0.03);
}
.news-card img {
  border-radius: 9px 9px 0px 0px;
}
.news-card__content {
  padding: 20px;
}
.news-card__content p {
  font-size: 14px;
}
.news-readMore {
  display: inline-block;
  position: relative;
}
.news-readMore:hover .news-readMore_arrow {
  opacity: 1;
  right: -46px;
}
.news-readMore_a {
  position: relative;
  padding-right: 20px;
  top: -1px;
  transition: all 0.3s ease;
}
.news-readMore_arrow {
  opacity: 0;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: opacity 0.3s ease, right 0.3s ease;
  height: 14px;
  width: 14px;
  color: #333;
}

.event-content {
  overflow: hidden;
  position: relative;
  border-radius: 25px;
}
.event-content img {
  width: 100%;
  height: 100%;
  border-radius: 19px;
  transition: transform 0.3s ease;
}
.event .card-image {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.event .card-image .overlay::before {
  position: relative;
}
@media all and (min-width: 768px) {
  .event-content:hover img {
    transform: scale(1.1);
  }
  .event-content:hover .card-title {
    transform: translateY(-100%);
  }
  .event-content:hover .card-description {
    opacity: 1;
    bottom: 24px;
  }
  .event .card-title {
    position: absolute;
    bottom: 30px;
    left: 10px;
    color: #fff;
    font-size: 1.5rem;
    padding: 5px 0px;
    transition: all 0.3s ease;
    z-index: 1;
  }
  .event .card-description {
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    color: #fff;
    padding: 0px 12px;
    opacity: 0;
    transition: all 0.3s ease;
  }
}
.event-list {
  border-radius: 16px;
  background: var(--primary-50);
  padding: 24px;
}
.event-list h4 {
  margin-bottom: 20px;
}
.event-list_img {
  width: 100%;
  height: auto;
  aspect-ratio: 1.62/1;
}
.event-list_img img {
  border-radius: 8px;
  height: 100%;
  width: 100%;
}
.event-list p {
  line-height: 22px;
}
.event-list_border {
  width: 100%;
  height: 2px;
  margin: 10px 0px;
  background-color: var(--grey-light);
}

.gallery img {
  width: auto;
  height: 100%;
  border-radius: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 70px;
  color: #fff;
}

.partner-img {
  height: 50px;
  width: 100%;
}
.partner-img img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.testimonial-content {
  position: relative;
}
.testimonial-content h5 {
  font-size: 18px;
  line-height: 28px;
}
.testimonial-content_quote {
  position: absolute;
  top: 25%;
  left: 46%;
  transform: translate(-50%, -50%);
}
.testimonial-rightsideContent {
  padding: 30px 12px;
}
@media all and (min-width: 768px) {
  .testimonial-rightsideContent {
    padding: 80px 23px;
  }
}
.testimonial-rightsideContent .owl-carousel .owl-nav button.owl-next, .testimonial-rightsideContent .owl-carousel .owl-nav button.owl-prev, .testimonial-rightsideContent .owl-carousel button.owl-dot {
  background-color: white;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
@media all and (max-width: 520px) {
  .testimonial-rightsideContent .owl-carousel .owl-nav button.owl-next, .testimonial-rightsideContent .owl-carousel .owl-nav button.owl-prev, .testimonial-rightsideContent .owl-carousel button.owl-dot {
    display: none;
  }
}
.testimonial-rightsideContent .owl-carousel .owl-nav button.owl-next span, .testimonial-rightsideContent .owl-carousel .owl-nav button.owl-prev span {
  font-size: 18px;
}
.testimonial-rightsideContent .owl-theme .owl-nav {
  text-align: end;
  position: relative;
  top: -60px;
  right: 64px;
}
.testimonial-rightsideContent .owl-theme .owl-nav [class*=owl-]:hover {
  color: var(--primary-500);
}
.testimonial-sideImage {
  height: 100%;
}
.testimonial-user {
  height: 80px;
  width: 80px;
}
.testimonial-user img {
  height: 100%;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.card {
  width: 500px;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}

.card-img img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.card-text {
  position: absolute;
  left: 0;
  bottom: -30px;
  padding: 20px;
  transition: bottom 0.5s ease;
}

.card:hover .card-text {
  bottom: 0;
}/*# sourceMappingURL=style.css.map */