.banner-area .single-banner-slide {
  height: 72vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  z-index: 2;
}
.banner-area .single-banner-slide .banner-text {
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.16);
  -webkit-backdrop-filter: blur(9px);
          backdrop-filter: blur(9px);
  padding: 16px 32px;
  width: -moz-fit-content;
  width: fit-content;
  position: absolute;
  bottom: 10px;
  display: flex;
  gap: 8px;
}
.banner-area .single-banner-slide span {
  color: #fff;
  font-weight: 600;
}
.banner-area .single-banner-slide h1 {
  color: #fff;
  margin: 0;
  display: flex;
}
.banner-area .single-banner-slide img {
  height: 35px;
  width: 35px !important;
}
.banner-area .single-banner-slide::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: -1;
  width: 100%;
  height: 100%;
}
.banner-area .single-banner-slide .owl-dots {
  display: none !important;
}
.banner-area .owl-nav {
  position: relative !important;
}
.banner-area .owl-carousel .owl-nav button.owl-next {
  position: absolute;
  bottom: 30px;
  right: 10%;
  padding: 10px !important;
  background-color: rgba(255, 255, 255, 0.16);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: x-large;
}
.banner-area .owl-carousel .owl-nav button.owl-prev,
.banner-area .owl-carousel button.owl-dot {
  position: absolute;
  bottom: 30px;
  left: 10%;
  padding: 10px !important;
  background-color: rgba(255, 255, 255, 0.16);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: x-large;
}
.banner-area .owl-prev span {
  padding-bottom: 2px;
  padding-right: 2px;
}
.banner-area .owl-next span {
  padding-bottom: 2px;
  padding-right: 2px;
}

.event-content img {
  border-radius: 19px;
}
.event-list {
  border-radius: 16px;
  background: var(--primary-50);
  padding: 24px;
}
.event-list h4 {
  margin-bottom: 20px;
}
.event-list_img {
  width: 100%;
  height: auto;
  aspect-ratio: 1.62/1;
}
.event-list_img img {
  border-radius: 8px;
  height: 100%;
  width: 100%;
}
.event-list p {
  line-height: 22px;
}
.event-list_border {
  width: 100%;
  height: 2px;
  margin: 10px 0px;
  background-color: var(--grey-light);
}

.gallery img {
  width: auto;
  height: 100%;
  border-radius: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 70px;
  color: #fff;
}

.performer {
  height: 100%;
  width: 100%;
  z-index: 1;
  background: url("/assets/image/bgImage.jpg") no-repeat center/cover;
}

/* Basic card container styling */
.event-content {
  overflow: hidden;
  position: relative;
  border-radius: 25px;
}

/* Image container and styling */
.card-image {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.event-content img {
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease;
}

/* Title positioned inside the image */
.card-title {
  position: absolute;
  bottom: 30px;
  left: 10px;
  color: white;
  font-size: 1.5rem;
  padding: 5px 0px;
  transition: all 0.3s ease; /* Smooth transition for position */
  z-index: 1;
}

/* Initially hide description with opacity */
.card-description {
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  color: white;
  padding: 0px 12px;
  opacity: 0;
  transition: all 0.3s ease;
}

/* Hover effect - image zooms in */
.event-content:hover img {
  transform: scale(1.1);
}

/* Hover effect - title moves up */
.event-content:hover .card-title {
  transform: translateY(-100%); /* Move the title up */
}

/* Hover effect - description slides up and becomes visible */
.event-content:hover .card-description {
  opacity: 1; /* Show on hover */
  bottom: 24px; /* Slide description up to take title's place */
}/*# sourceMappingURL=style.css.map */